.logo {
    color: violet;
    margin-left: 40px;
}

.nav-items>li>a {
    text-decoration: none;
    color:  darkslategrey;
    display: flex;
    margin-left: 20px;
}

.nav-items {
    list-style: none;
    display: flex;
    margin: 20px 60px 0px 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

.main-header {
    text-align: center;
    color:darkblue;
    margin-bottom: 50px;
}

.submit-section {
    text-align: center;
}

/* .submit-btn {
    background-color: aqua;
    border-color: transparent;
} */
