body {
  margin: 0;
}

.nav-bar, a {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 30px;
padding-right: 50px;
background-color:cadetblue;
font-weight: 600;
font-size: x-large;
color: black;
}

.nav-item, a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  }

  .nav-item li a {
    color: orange;
    }

  form {
    width: 30%;
    margin: 50px 20px 30% 40%;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
  }

  form > input {
    background-color: cadetblue;
    border: none;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    font-size: large;

  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    font-size:large;
    opacity: 1; /* Firefox */
  }

  .addBtn {
    width: 60%;
    height: 35px;
    background-color: orange;
    border: none;
    cursor: pointer;
  }

  .addBtn:hover {
    background-color: goldenrod;
  }
