body {
  margin: 0;
}

.nav-bar, a {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 30px;
padding-right: 10px;
background-color:cadetblue;
font-weight: 600;
font-size: x-large;
color: black;
}

.nav-item, a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  }

  .nav-item li a {
    color: orange;
    }

  form {
    width: 30%;
    margin: 50px 20px 10% 10%;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 90px 120px 90px;
    border-style: solid;
    border-color: chocolate;
  }

  form > input {
    background-color: cadetblue;
    border: none;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    font-size: large;

  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    font-size:large;
    opacity: 1; /* Firefox */
  }

  #submit {
    width: 70%;
    height: 35px;
    background-color: orange;
    border: none;
    cursor: pointer;
  }

  .addBtn:hover {
    background-color: goldenrod;
  }

  .list {
    margin-left: 10%;
    width: 60%;
    background-color: red;
    border-spacing: 20px;
  }

  table, th, td {
    border: 1px solid;
  }
