.nav-item{
    text-decoration: none;
    color: red;
    list-style: none;
    display: flex;
    margin-top: 22px;
}

.nav-item > li {
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.app_count {
    text-align: center;
}

.display {
    font-size:xx-large;
}

.inc {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}

.dec {
    background-color: #880808;
    color: white;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}

.res {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}
