/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  background-color: #f42;
  color: white;
  border: none;
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
}

td {
  padding: 5px;
}

.margin-0 {
  margin: 0;
}

.margin-bottom-3 {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #fff;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/
nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

nav ul {
  display: flex;
  margin-bottom: 0;
}

nav ul li {
  list-style: none;
  margin: 0 5px;
}

nav,
footer {
  background-color: #e5a9a9;
}

.head-line {
  font-family: 'Lobster', cursive;
  font-size: 1.2rem;
  margin-left: 20px;
}

.line {
  border-right: 1px solid black;
}

#displayBooks {
  min-width: 500px;
  border: 3px solid black;
  margin: 0 auto;
}

.main-container {
  text-align: center;
}

hr.small-line {
  width: 100px;
  margin: 10px auto;
  border-top: 2px solid black;
  opacity: 1;
}

.bookForm {
  position: relative;
  padding-bottom: 20px;
  max-width: 400px;
  margin: 30px auto;
}

#title,
#author {
  width: 100%;
  margin: 3px 0;
  padding: 1px 8px;
}

#add {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 1px 8px;
  background-color: green;
  color: white;
  border: green 1px solid;
  border-radius: 5px;
}

.date {
  position: absolute;
  top: 2.5rem;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.footer {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.copyright {
  margin-bottom: 0;
  text-align: center;
}

#contact {
  width: 450px;
  margin: 30px auto;
}

#contact ul,
#contact .text {
  text-align: start;
}